@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
* {
    font-family: 'Playfair Display', serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    top: 0;
    position: absolute;
}

header ul{
    height: 4rem;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.685);
    align-items: center;
    border: solid;
    border-width: 1px;
    border-color: black;

}

header li {
    margin: 0 1rem;
    font-size: small;
}
.name {
    font-size: 40px;
    width: max-content;
}

.imageContainer {
    /* background-image: url(../images/DSC03222.jpg); */
    height: 50rem;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.welcome-card {
    width: 11rem;
    align-self: center;
    margin-right: 32rem;
    margin-bottom: 6rem;
    padding: 2rem;
    /* border-radius: 4rem; */
    background: rgba(255, 255, 255, 0.685);
    border-style: solid;
    border-width: 1px;
}
.welcome-card h1 {
    margin: 0;
}
.sideButton {
    width: 5rem;
    background-color: rgba(0, 0, 0, 0.44);
    color: white;
    border: none;
}
