body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    top: 0;
    position: absolute;
}

header ul{
    margin: 0;
    display: flex;
    list-style: none;
    background-color: brown;
    align-items: center;
    border: solid;
    border-width: 1px;
    border-color: black;

}

header li {
    margin: 0 1rem;
    font-size: small;
}
.name {
    font-size: 40px;
    width: max-content;
}

.imageContainer {
    /* background-image: url(../images/DSC03222.jpg); */
    height: 50rem;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sideButton {
    width: 5rem;
    background-color: rgba(0, 0, 0, 0.44);
    color: white;
    border: none;
}
